VITE_BACKEND_URL=https://nestora-backend-old.onrender.com
VITE_FRONTEND_URL=https://nestora-frontend-old.onrender.com

WDS_SOCKET_PORT=3000
ENABLE_HEALTH_CHECK=false
VITE_RAZORPAY_KEY_ID=rzp_test_TLn5Q8elmgvvPh